/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
/* Navbar styles */
#nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:black;
    color: black;
    z-index: 1000;
}

.logo img {
    width: 60px;
    height: 50px;
    margin-left: 20px;
}

#nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: flex-end; */
}

#nav-menu li {
    padding: 10px;
}

#nav-menu li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease;
    margin-right: 20px;
}

#nav-menu li a:hover {
    color: salmon;
}

#resume-button-1{
  background-color: rgb(220, 20, 60);
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
}

  
  /* Sections styles */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .home-content {
    display: flex;
    margin-top: 40px;
    justify-content: left;
    /* border: 2px red solid; */
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #home{
    /* border: 2px red solid; */
    margin-top: 4%;
  }
  
  .home-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #user-detail-name {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #user-detail-intro {
    font-size: 18px;
    color: #666;
  }
  
  .about-content {
    text-align: center;
  }
  
  .about-description {
    font-size: 18px;
    color: #433f3f;
    line-height: 1.5;
    text-align: justify;
    /* border: 2px solid red; */
  }
  
  #skills {
    padding: 50px 0;
    background-color: #f9f9f9;
    margin-top: 2%;
}

#skills h2 {
    text-align: center;
    color: #fa8072
}

.skills-card-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
}

.skills-card-container1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.skills-card-container2 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
}

.skills-card-container3 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
}

.skills-card {
    text-align: center;
    padding: 20px;
    background-color: gainsboro;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 200px;
    height: 140px;
    border-radius: 5%;
}

.skills-card:hover{
background-color: white;
}

.skills-card-img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.skills-card-name {
    font-weight: bold;
    text-align: center;
}
  
  #projects {
    padding: 50px 0;
    background-color: #fff;
  }
  
  .project-carousel {
    overflow: hidden;
    position: relative;
  }
  
  .project-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .project-card {
    flex: 0 0 300px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
  }
  
  .project-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .project-control-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .project-control-btn:hover {
    background-color: #555;
  }

  .github{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    margin-left: 100px;
  }



  
  #contact {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .contact-list li {
    margin-right: 20px;
  }
  
  .contact-list li:last-child {
    margin-right: 0;
  }
  
  .contact-list li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .contact-list li a:hover {
    color: #666;
  }
  
  #resume {
    padding: 50px 0;
    background-color: #fff;
  }
  
  .resume-buttons {
    text-align: center;
  }
  
  .resume-button {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #333; */
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  #nav-menu .active {
    font-weight: bold;
    color: rgb(220, 20, 60);
  }
  
  .home-text {
    flex-grow: 1;
    margin-top: 80px;
  }
  
  /* Add your desired styles for the image */
  
  /* Adjust the styles of the job title and cursor as needed */
  #job-title {
    position: relative;
    display: inline-block;
    color: rgb(220, 20, 60);
    margin-top: 0px;
  }
  
  #job-title .cursor {
    display: inline;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .skills-card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .skills-card {
      width: 100%;
    }
  
    .project-card-container {
      grid-template-columns: 1fr;
    }
  
    .project-card-container {
      flex-wrap: wrap;
    }
  
    .project-card {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 28px;
    }
  
    .about-description {
      font-size: 16px;
    }
  }
  

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.logo img {
  width: 60px;
  height: 50px;
  margin-left: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1s ease;
}

.logo.visible img {
  opacity: 1;
  transform: translateY(0);
}



/* Add the following CSS styles */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contact-container a{
  text-decoration: none;
  font-size: 30px;
  color: #EF4765;
  margin-right: 30px;
}

.contact-half {
  list-style: none;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 4s, transform 4s;
}

.contact-left {
  transform-origin: left;
  display: flex;
}

.contact-right {
  transform-origin: right;
  display: flex;
}

.contact-half.appear {
  opacity: 1;
  transform: translateX(0);
}


#projects {
  padding: 50px 0;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
}

.project-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(100px);
  transition: transform 1s, opacity 1s;
  opacity: 0;
}

.project {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #f0f0f0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 20px;
  font-weight: bold;
}

.project-description {
  margin-top: 10px;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.project-card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2.8s, transform 2.8s;
}

.project-card.active {
  opacity: 1;
  transform: translateY(0);
}
